#main-div{
    width: 95%;
    margin: 10px 0 20px 2%;
    background-color: ghostwhite;
    min-height: 300px;
    min-width: 943px;
}
#div-all-boxes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.card-box {
    border: rgb(185, 184, 184) solid;
    width: 47%;
    padding: 2px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select-row{
    width: 100%;
    background-color: white;
    border-radius: 3px;
    margin: 2px 0 2px 0;
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;

}

/* .example-panel-blue.mat-select-panel {
    background: rgba(0, 0, 255, 0.5);

  } */

/* .mat-form-field-appearance-outline .mat-form-field-outline {
    color: green;
  } */

  .mat-select-panel {
    background: white;  
}

.inside-cards{
    width: 100%;
    padding: 2px;
    border: silver double;
    display: flex;
    justify-content: space-around;
    padding: 2px;
    flex-wrap: wrap;
    background-color: ghostwhite;
    margin-bottom: 20px;
    min-height: 100px;
}

.single-card{
    height: fit-content;
    width: 110px;
    border: solid thin silver;
    position: relative;
    padding-bottom: 1px;
    align-items: center;
    margin: 2px;
    background-color: white;
   
}

.single-card img {
    display: block;
}

.single-card i {
    position: absolute; bottom:0px; left:3px; 
    cursor: pointer;
}


.SetDetails{
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid thin silver;
    border-radius: 3px;
    margin-left: 1%;
    background-color:#f8eacf ;
    display: flex;  
    justify-content: left;
    padding: 10px;
    flex-wrap: wrap;

}

.setImage{
    width: 15%;
}

.setImage img{
    
    border: 1px solid #97d2f0;
    padding: 2px;
    box-shadow: 1px 4px 4px 1px rgba(6, 154, 223, 0.5);
}

.setDescription{
    width: 85%;
    padding: 3px;
}

.nome-set {
    font-size: 1.1em;
    color: rgb(44, 44, 196); 
    font-weight: 500;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;              /* "overflow" value must be different from "visible" */
    text-overflow:   ellipsis;
    border-bottom: solid thin silver;
  }

table {
    font-size: small;
    border-collapse: separate; 
    border-spacing: 2px 0; 
    text-align: center; 
    padding: 2px; 
    width: 70% ;
    margin-top: -10px;
    border: solid thin silver;
    background-color: white;
    border-radius: 3px;
}



.totalPrice{
    height: 55px;
    width: 100px;
    border-radius: 5px;
    background-color: #49b417;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}


#cardDetails{
    
    padding: 3px;
    margin-bottom: 20px;
}

#cardDetails span{
    font-size: x-small;
   
}
