<div id="main-div">
    <div class="default-header">
        <span >Transfer Cards</span>
     </div>
     @if (leftUserSetCollecton.id > 0 && rightUserSetCollection.id > 0) {
        <div style="margin-bottom: 20px; margin-left: 47%;">
            <a href="javascript:void(0)" (click)="saveSets()"><button class="bn33">SAVE</button></a>
         </div>
     }

     <div id="div-all-boxes">
        <div id="left-box" class="card-box">

           <div class="select-row">
                <mat-form-field appearance="fill" class="left" >
                    <mat-label>Set Type</mat-label>
                    <mat-select #set
                                panelClass="example-panel-blue"
                                (selectionChange)="searchSets(set.value, 'L')">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;  &nbsp;
                           
                <mat-form-field appearance="fill" style="width: 60%;">
                    <mat-label>Sets</mat-label>
                    <mat-select [disabled]="leftSets.length == 0 ? true : false" (selectionChange)="getSetAndCards('L', set.value, leftSide.value)" #leftSide>
                        @for (lefts of leftSets; track $index) {
                            <mat-option  value="{{lefts.setId}}">
                                {{lefts.name}}
                            </mat-option>
                        }
                       
                    </mat-select>
                </mat-form-field>
          </div> 

          @if (leftUserSetCollecton.name != null) {
            <div class="SetDetails">
                <div class="setImage col-md-3" >
                    <img [src]="leftUserSetCollecton.image" alt="Set Image" width="85px" height="100px">
                </div>
                
          
                <div class="setDescription col-md-9" >
                    <p class="nome-set">{{leftUserSetCollecton.name}}</p>
                    <div class="description-bottom">
                        <div class="totalPrice">
                            <span> Total Price <br>{{leftUserSetCollecton.totalPrice | currency : 'USD'}}</span>                  
                        </div>
                    </div>
                </div>
              </div>  
          }

          @if (leftUserSetCollecton.name != null) {
            <section class="example-section" style="margin-left: 10px;" >
                <mat-checkbox class="example-margin" [(ngModel)]="showLeftDetails">Show Cards Details</mat-checkbox>
              </section>
          }


          <div class="inside-cards">
                @if (leftUserSetCollecton.cards.length > 0) {
                    <div class="empty-set" class="row">
                        <p>
                          <i>Choose the Set you want to add in transfer!</i>
                        </p> 
                    </div>
                }

                @for (leftSingleCard of leftUserSetCollecton.cards; track $index) {
                    <div class="single-card" >
                        <div>
                            @if (leftSingleCard.quantityUserHave > 1) {
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" style="color: white">
                                    {{leftSingleCard.quantityUserHave}}
                                  </span>
                            }
        
                            <i class="material-icons card-item-icon" style="margin-left: 37%; color: blue; background-color: yellow; font-size:20px; border: solid thin silver;" 
                            matTooltipClass="example-tooltip-red"                   
                            matTooltip="Send Card" 
                            (click)="transferCardToOtherSide('L', leftSingleCard.relDeckCards.card_set_code!)">keyboard_double_arrow_right</i>  
                           <!-- <img [src]="cardImagem(leftSingleCard.number)" width="109px" height="139px" [title]="leftSingleCard.name"> -->
                            <a [routerLink]="['/card-detail/', leftSingleCard?.name]"  name="{{leftSingleCard.number}}" (click)="storedCardId(leftSingleCard.number)">
                              <img [src]="cardImagem(leftSingleCard.number)" width="109px" height="139px" [title]="leftSingleCard.name">
                            </a>
                          
                        </div>                                 
                        <!--Price div-->
                        @if (showLeftDetails) {
                            <div id="cardDetails" >
                                <span style="float: left; color: green;"> {{leftSingleCard.relDeckCards.card_price | currency : 'USD'}}</span> 
                                <span style="float: right; ">{{leftSingleCard.relDeckCards.card_raridade}}</span>  
                                <span style="margin-left: 20%;color:#604FCD ; font-weight: 500;"> {{leftSingleCard.relDeckCards.card_set_code}}</span>                   
                              </div>
                        }   
                      </div>
                }


          </div>
        </div>

        <div id="right-box" class="card-box">
            <div class="select-row">
                <mat-form-field appearance="fill" class="right">
                    <mat-label>Set Type</mat-label>
                    <mat-select  #setsRight
                                panelClass="example-panel-blue"
                                (selectionChange)="searchSets(setsRight.value, 'R')">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;  &nbsp;
                           
                <mat-form-field appearance="fill" style="width: 60%;">
                    <mat-label>Sets</mat-label>
                    <mat-select  panelClass="example-panel-blue" [disabled]="rightSets.length == 0 ? true : false" 
                                 (selectionChange)="getSetAndCards('R', setsRight.value, rightSide.value)" #rightSide>
                         @for (rights of rightSets; track $index) {
                            <mat-option  value="{{rights.setId}}">{{rights.name}}</mat-option>
                         }        
                      
                    </mat-select>
                </mat-form-field>
            </div> 

            @if (rightUserSetCollection.name != null) {
                <div class="SetDetails " style="background-color: #f0e6fc !important;">
                    <div class="setImage col-sm-3">
                        <img [src]="rightUserSetCollection.image" alt="Set Image" width="85px" height="100px">
                    </div>
        
                    <div class="setDescription col-sm-9">
                        <p class="nome-set">{{rightUserSetCollection.name}}</p>
                        <div class="description-bottom">
                            <div class="totalPrice">
                                <span> Total Price <br>{{rightUserSetCollection.totalPrice | currency : 'USD'}}</span>                  
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if(rightUserSetCollection.name != null){
                <section class="example-section" style="margin-left: 10px;" >
                    <mat-checkbox class="example-margin" color='primary' [(ngModel)]="showRightDetails">Show Cards Details</mat-checkbox>
                  </section>
            }


            <div class="inside-cards">
                @if (rightUserSetCollection.cards.length > 0) {
                    <div class="empty-set" class="row">
                        <p>
                          <i>Choose the Set you want to add in transfer!</i>
                        </p> 
                    </div>
                }

                @for (rightSingleCard of rightUserSetCollection.cards; track $index) {
                    <div class="single-card" >
                 
                        <div>
                            @if (rightSingleCard.quantityUserHave > 1) {
                                <span class="position-absolute translate-middle badge rounded-pill bg-info" style="color: white" >
                                    {{rightSingleCard.quantityUserHave}}
                                </span>
                            }
                         
                          <i class="material-icons card-item-icon" style="margin-left: 37%; color: white; background-color: orange;font-size:20px; border: solid thin silver;" 
                          matTooltipClass="example-tooltip-red"                   
                          matTooltip="Send Card" 
                          (click)="transferCardToOtherSide('R', rightSingleCard.relDeckCards.card_set_code!)">keyboard_double_arrow_left</i>                       
                          <a [routerLink]="['/card-detail/', rightSingleCard?.name]"  name="{{rightSingleCard.number}}" (click)="storedCardId(rightSingleCard.number)">
                            <img [src]="cardImagem(rightSingleCard.number)" width="109px" height="139px" [title]="rightSingleCard.name"> 
                          </a>                 
                          
                        </div>
                                        
                          <!--Price div-->
                          @if (showRightDetails) {
                            <div id="cardDetails">
                                <span style="float: left; color: green;"> {{rightSingleCard.relDeckCards.card_price | currency : 'USD'}}</span> 
                                <span style="float: right; ">{{rightSingleCard.relDeckCards.card_raridade}}</span>  
                                <span style="margin-left: 20%;color:#604FCD ; font-weight: 500;"> {{rightSingleCard.relDeckCards.card_set_code}}</span>                   
                              </div>   
                          }        
                    </div>
                }

            </div>
        </div>
     </div>
</div>