<div id="main-div">
    <!--Header-->
    <div class="title-input ">
        <h1>{{fullStats.nome}} <span style="font-size: 12px">{{fullStats.lancamento}}</span></h1>
        <div class="description-board">
            <span>Dashboard</span>
        </div>
    </div>
    <!--Cards Attribute-->
    <div class="cards-attribute card shadows">
        <h5 class="card-header">
            <i class="fas fa-circle"></i> Attribute
        </h5>
        <div class="card-body">   
            @for (attr of fullStats?.setStats?.atributos; track $index) {
                <div class="card-attribute-cards">
                    <mat-card>
                        <mat-card-content>
                        <mat-card-title>
                                <div class="card-attribue-head">
                                    <span class="{{attr.name | lowercase }}-color">{{attr.name}}</span> 
                                    <img [src]="attr.atributoImgPath" alt="" width="50px" height="50px" loading="lazy">
                                </div>
                        </mat-card-title>
                        <div class="card-attribute-cards-stats">
                                <span style="font-size: 18px;">{{attr.quantity}} Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> ({{attr.percentage}}%) </span> 
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div> 
            }    
 
       </div>
    </div>
    <!--Card Types and Monster Types-->
    <div class="type-cards-table-properties shadows">

        <div class="cards-table card ">
            <h6 class="card-header">
                <i class="fas fa-magic"></i> &nbsp; Card Types
            </h6>
            <div class="card-body all-body overflow-auto"> 
                @for (generic of fullStats?.setStats?.genericTypes; track $index) {
                    <div class="card-static" style="border: solid thin green;">

                        <div class="card-content normal-content">
                            <div class="card-body">
                                <div class="media d-flex" style="justify-content: space-between;">
                                    <div class="align-self-center" >
                                        <img [src]="generic.path" alt="" width="58px" height="85px" loading="lazy">
                                    </div>
                                    <div style="margin-top: 9px; text-align: center;">
                                        <h3>{{generic.quantity}}x</h3>
                                        <span style="color: green">{{generic.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--How will be shown on 1360pix or less--> 
                        <div class="card-content content-small">
                            <div class="card-body">
                                <div class="media d-flex" style="justify-content: space-between;">
                                    <div class="align-self-center" >
                                        <img [src]="generic.path" alt="" width="58px" height="85px" loading="lazy"> <br>
                                        <span style="color: green">{{generic.name}}</span>
                                    </div>
                                    <div class="div-namecard-type-small" >
                                        <h3>{{generic.quantity}}x</h3>                             
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>     
                }  
                   
            </div>
        </div>

        <div class="cards-monster-type card">
            <h6 class="card-header">
                <i class="fas fa-dragon"></i>&nbsp; Monster Types
            </h6>
            <div class="card-body body-types overflow-auto" >
                @for (tipo of fullStats?.setStats?.tipoCard; track $index) {
                    <div class="card-types">
                        <mat-card style="padding: 1px !important;">
                            <mat-card-content>
                                <div class="card-property-mat">      
                                    <div class="head-card-property">
                                        <img [src]="tipo.tipoCardImgPath" alt="" width="50px" height="50px" loading="lazy"> 
                                        <span style="font-size: 14px" class="fiend-color" class="{{tipo.name | lowercase}}-color color-type">{{tipo.name}}</span>  
                                    </div>                                 
                                   <div>
                                    <span style="font-size: smaller">{{tipo.quantity}} Cards</span>  
                                   </div>
                                                        
                                </div>
                                
                            </mat-card-content>
                        </mat-card>
                    </div>
                }
       
            </div>
        </div>
    </div>
    <!--Attack Defense charts-->
    <div class="atk-def-chart-div shadows">
    <div class="atk-chart card shadows">
        <h5 class="card-header">
            <i class="fal fa-swords"></i> Quantity by Attack
        </h5>
        <div class="card-body">
            <app-bar-chart [attackDefData]="fullStats?.setStats?.listAtk"></app-bar-chart>
        </div>
    </div>
    <div class="def-chart card shadows">
        <h5 class="card-header">
            <i class="far fa-shield-cross"></i> &nbsp; Quantity by Defense
        </h5>
        <div class="card-body">
            <app-bar-chart [attackDefData]="fullStats?.setStats?.listDef"></app-bar-chart>
        </div>
        
    </div>
    </div>
    <!--Stars -->
    <div class="div-stars-rarities card shadows">
        <h5 class="card-header">
            <i class="fas fa-level-up-alt"></i> Monster Level
        </h5>
        <div class="card-body body-monster-stars">
            @for (level of fullStats?.setStats?.listLevel; track $index) {
                <div class="monster-stars-card">
                    <mat-card style="padding: 1px !important;">
                        <mat-card-content>
                        <mat-card-title>
                            <div class="card-stars-head">                     
                                <img src="assets/img/outras/Nivel.png" alt="" width="40px" height="40px" loading="lazy">
                                <span class="span-level-stars">{{level.value}}x</span> 
                            </div>
                        </mat-card-title>
                          <div class="card-attribute-cards-stats">
                            <span style="font-size: 18px;">{{level.quantity}} Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> ({{level.percentage}}%) </span> 
                          </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            }
           
        </div>
    </div>
    <!--Price and Properties-->
    <div class="monster-types-div shadows">
        <div class="stars-div card">
            <h5 class="card-header">
                <i class="fas fa-infinity"></i> Properties
            </h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Img</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                        @for (prop of fullStats?.setStats?.listProperties; track $index) {
                            <tr>
                                <th scope="row">{{ $index + 1}}</th>
                                <td><img [src]="prop.path" width="40" height="40" alt="Propertie Image" loading="lazy"></td>
                                <td>{{prop.name}}</td>
                                <td>{{prop.quantity}}</td>
                              </tr>
                        }
                     
                  </table>
            </div>
        </div>
        <div class="cards-propesties card overflow-auto">
            <h6 class="card-header">        
                <i class="fas fa-money-bill"></i> Price
            </h6>

            <div class="card-body body-valuables overflow-auto" >
                @for (valuable of fullStats?.setStats?.listMostValuable; track $index) {
                    <div class="card-valuables">
                        <mat-card style="padding: 1px !important;">
                            <mat-card-content>
                                <div class="card-valuable-mat">      
                                    <div class="head-card-valuable">
                                        <img [src]='cardImagem(valuable.number)' alt="" >                          
                                    </div>                                 
                                   <div class="div-valuable-details"> 
                                        <p class="card-name" style="font-size: 16px !important;">
                                            <a [routerLink]="['/card-detail/', valuable.name]"  name="{{valuable.number}}" >
                                           {{valuable.name}}         
                                        </a>
                                        </p>   
                                        <span style="font-size: 14px; color: green; "> <strong> U$$ {{ valuable.value | currency : '1.2-2'}}</strong></span><br>
                                        <span style="font-size: 14px" [ngClass]="setRarityColor(valuable.rarity)">{{valuable.rarity}}</span>   
                                   </div>
                                                        
                                </div>                     
                            </mat-card-content>
                        </mat-card>
                    </div>
                }    
            </div>
        </div>
    </div>
 
</div>
