
/* .signin-content {
    background:url(../../../../assets/img/outras/paginas/loginback.jpg);
    height: 100%;
    padding: 60px 1rem;
} */

.login-container {
    /* background-color: #f0f2f5; */
    background:url('../../../assets/img/outras/paginas/loginback.jpg');
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}
.login-header {
    height: 70vh;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.login-header-left {
    width: 588px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.login-header-left img {
    margin-bottom: 28px;
    margin-right: 32px;
}
.login-header-left h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 588px;
}
.login-header-right-card {
    height: 380px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.login-header-right-card-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.login-header-right-card-content .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-header-right-card-content .login-form input {
    padding: 20px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.login-header-right-card-content .login-form input::placeholder {
    font-size: 16px;
    font-weight: normal;
}
.login-header-right-card-content .login-form .login-button {
    background-color: #1877f2;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}
.login-header-right-card-content a {
    text-decoration: none;
    color: #1877f2;
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}
.login-header-right-card-content .create-account {
    background-color: #42b72a;
    display: inline-block;
    align-self: center;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 15px 30px;
    color: white;
    font-size: bold;
    cursor: pointer;
    margin-top: 15px;
}
.login-header-right .tagline {
    text-align: center;
    letter-spacing: 0.7px;
}

/* 
#main-div {
 margin: 0;
   padding: 0;
   display: flex;
 width: 100%;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   font-family: 'Jost', sans-serif;
 background:url(../../../../assets/img/outras/paginas/loginback.jpg);
}


p{
 font-size: 22px;
 font-weight: 700;
 letter-spacing: 2px;
 text-transform: uppercase;
 word-spacing: 0px;
 font-family: 'Courier New', Courier, monospace;
}

.signin-content {
 width: 350px;
 height: 500px;
 overflow: hidden;
 border-radius: 10px;
 box-shadow: 5px 20px 50px #000;
 font-family: 'Jost', sans-serif;
 background: linear-gradient(to bottom, #241f57, #474188, #bbbbe7);

}

#chk{
   display: none;
}

.signup{
   position: relative;
   width:100%;
   height: 100%;
}

label{
   color: #fff;
   font-size: 2.3em;
   justify-content: center;
   display: flex;
   margin: 60px;
   font-weight: bold;
   cursor: pointer;
   transition: .5s ease-in-out;
}

input{
   width: 60%;
   height: 35px;
   background: #e0dede;
   justify-content: center;
   display: flex;
   margin: 20px auto;
   padding: 10px;
   border: none;
   outline: none;
   border-radius: 5px;
}

button{
   width: 60%;
   height: 40px;
   margin: 10px auto;
   justify-content: center;
   display: block;
   color: #fff;
   background: #0f75b2;
   font-size: 1em;
   font-weight: bold;
   margin-top: 20px;
   outline: none;
   border: none;
   border-radius: 5px;
   transition: .2s ease-in;
   cursor: pointer;
}

button:hover{
   background: #6d44b8;
}

#chk:checked ~ .login{
   transform: translateY(-500px);
}
#chk:checked ~ .login label{
   transform: scale(1);	
}
#chk:checked ~ .signup label{
   transform: scale(.6);
}

a{
color: black; 
align-self: center; 
margin-left: 21%;

}

a u:hover{
 color: green;
}

#return {
   width: 35%;
   background: #3398f7; 

}

#return:hover {
   background: #0f86f5; 
} */