<div class="container">
    <div style="margin-left: 10%; margin-top: 20px;">
      <h2>Archetype: &nbsp; &nbsp;<span>{{archetype.arcName}} </span> </h2> 
      
    </div>
    
    <div class="flex-container" style="border: solid thin; background-color: ghostwhite;">
    <!-- <app-page-header [pageTitle]="mainTitle"></app-page-header> -->
      <span style="margin-left: 47%; color: green">({{ total }} cards)</span>
      <table class="table table-striped" style="width: 100%;">
       
        <thead>
          <tr style="text-align: center;">
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
            @for(arc of archetype.arrayCards; track $index){
                <tr>
                    <td width="17%">
                      <img [src]="cardImagem(arc.numero)" alt="" width="143" height="200" loading="lazy"
                        style="margin-left: -3px; margin-top: -3px;" (mouseover)="mostrarImgToolTip($event)"
                        (mousemove)="mostrarImgToolTip($event)" (mouseout)="esconderImgToolTip()"><br>
                        <span style="color: grey; font-size: smaller">You have: <b>{{arc.qtdUserHave}}</b></span> 
                    </td>
          
                    <td width="23%">
                      <b>
                        <a [routerLink]="['/card-detail/', arc.nome]" name="{{arc.numero}}" (click)="storedCardId(arc.numero)">
                          {{arc.nome}}
                        </a>
                        <!-- <app-routerlink-store-id *ngFor="let card of inside.cards" style="font-size: small;" 
                        [path]="paths['CARD_DETAIL']" 
                        [complement]="card.nome" 
                        [id]="card.numero"
                        [key]="idCard"
                        [text]="concatString('♦',card.nome)">
                      </app-routerlink-store-id> -->
                      </b>
                    </td>
          
                    <td style=" font-family: 'Carme', sans-serif; text-align: justify; padding: 10px; ">
                      {{arc.descricao}}
                    </td>
                  </tr>
            }

  
        </tbody>
      </table>
      <!--Div que será mostrada quando o mouse passar sobre a carta -->
      <div class="divTooltip" [ngStyle]="{'top': topTp, 'left': leftTp }">
        <img [src]='imgTooltip' alt="" width="310px" height="420px" *ngIf="isShowTooltip" class="imgTooltip" loading="lazy">
      </div>
    </div>
  </div>
  <div style="margin-bottom: 30px;"></div>