<div class="container">
    <div class="default-header" style="margin-top: 10px;">
      Set Collection Cards
    </div>
    <!--Cabeçalho com informações do Set-->
    <div id="set-info-header">
      <div style="width: 35%">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Collection Name</mat-label>
          <input matInput [value]="userSetCollecton.name"  maxlength="80" #nameInput>
          <mat-hint>Deck Code: <b>{{userSetCollecton.id}}</b></mat-hint>
        </mat-form-field>
  
      </div>
  
      <div style="color: green;">
        <span class="material-icons" title="Deck total value" style="cursor: pointer;"> paid </span> <span
          style="font-size:xx-large">{{userSetCollecton.totalPrice}}</span>
      </div>
      <!--Table quantity rarities-->
      <div style="width: 35%;">
        <app-quantity-rarities [rarities]="rarities"  style="width: 35% !important;"> </app-quantity-rarities>
      </div>
      
    </div>
    <div id="div-options-img" >
      <!--Div opções-->
      <div id="div-options">
        <fieldset>
          <legend>Options</legend>
          <div id="fieldsetInputs">
            <mat-form-field appearance="fill" class="fld">
              <mat-label>Search Cards (name or setcode)</mat-label>
              <input (keyup)="searchCard($event)" [(ngModel)]="searchInput" matInput placeholder="Card name..."
                class="inp">
              <mat-icon matSuffix class="my-icon" style="cursor: pointer">search</mat-icon>
            </mat-form-field> &nbsp;
  
            <mat-form-field appearance="fill">
              <mat-label>Set Code...</mat-label>
              <mat-select (selectionChange)="filterByCardSetCode($event)">
                <mat-option [value]="0">
                  All Set Codes...
                </mat-option>
                <mat-option [value]="sets" *ngFor="let sets of userSetCollecton?.setCodes">
                  {{sets}}
                </mat-option>
              </mat-select>
            </mat-form-field> &nbsp;
  
            <mat-form-field appearance="fill">
              <mat-label>Sort...</mat-label>
              <mat-select (selectionChange)="filterCollection($event)">
                <mat-option [value]="0">
                  No filter...
                </mat-option>
                <mat-option [value]="1">
                  a-Z - Name
                </mat-option>
                <mat-option [value]="5">
                  a-Z - Set Code
                </mat-option>
                <mat-option [value]="3">
                  Price
                </mat-option>
                <mat-option [value]="4">
                  Rarity
                </mat-option>
                <mat-option [value]="2">
                  Most Added
                </mat-option>
              </mat-select>
            </mat-form-field> &nbsp; <br>
          </div>
  
          <div id="fieldsetCheckbox">
  
            <mat-checkbox class="example-margin" #IHave [(ngModel)]="isChecked" [disabled]="isCheckedDont"
              (change)="filterOnlyCardsUserHave(isChecked? true : false, 'have')">
              Show only Cards I Have.
            </mat-checkbox> &nbsp;&nbsp;&nbsp;<br>
  
            <mat-checkbox class="example-margin" #IDontHave [(ngModel)]="isCheckedDont" [disabled]="isChecked"
              (change)="filterOnlyCardsUserHave(isCheckedDont? true : false, 'dont')">
              Show only Cards I Don't Have.
            </mat-checkbox> &nbsp;&nbsp;&nbsp;
  
            <br>
            <mat-checkbox checked="true" class="example-margin" [(ngModel)]="showDetail"
              (change)="showDetails(showDetail? true : false)">
              Show Card Details
            </mat-checkbox>
          </div>
          <br>
          <div id="fieldsetButtons">
            <button mat-raised-button style="background-color:#1E90FF; color: white; margin-top: 5px;" (click)="addPlusOneForall()" title="Only on cards on display">
                      Add to all Cards 	<mat-icon>exposure_plus_1</mat-icon>
                    </button> &nbsp;
                    <!-- (click)="saveDeck()" -->
                    <button mat-raised-button style="background-color:#f44336; color: white; margin-top: 5px;"   title="Only on cards on display">
                      Remove to all Cards <mat-icon>exposure_neg_1</mat-icon>
                    </button>&nbsp;&nbsp;
            <button mat-raised-button style="background-color:#059862; color: white; margin-top: 5px;"
              (click)="closeSearch(); openDialogSearch()">
              Add Cards
            </button> &nbsp;
          </div>
        </fieldset>
      </div>
      <div id="div-set-img" *ngIf="!isNewCollection">
        <img *ngIf="userSetCollecton?.setType != 'BOX'" [src]="userSetCollecton.image" alt="Set Collection image" height="280px" width="200px" loading="lazy">
        <img *ngIf="userSetCollecton?.setType == 'BOX'" [src]="userSetCollecton.image" alt="Set Collection image" height="280px" width="290px" loading="lazy"> 
        <br>
        <button type="button" class="btn btn-info btn-sm" id="button-based" *ngIf="basedDecks.length > 0"
          (click)="openDialog()">
        Based Deck
       </button>
      </div>
    </div>
  
    <!--Carousel-->
    <div style="width: 61%; margin: 0px 0 15px 22%;" *ngIf="cardsSearched.length > 0">
      <span id="close" (click)="closeSearch()"> <i>Close X</i> </span>
      <div id="swipe">
        <!-- <carousel [loop]="true" [cellsToScroll]="1" [lightDOM]="true" class="carousel--slider-alignment"
          [cellWidth]="160">
          <div class="carousel-cell" *ngFor="let searched of cardsSearched" style="width: 165px;">
  
            <img [src]='cardImagem(searched.numero)' title="{{searched.nome}}" class="searched-img" loading="lazy">
            <span style="margin-left: 35%;">
              <button type="button" class="btn btn-info btn-sm" style="background-color: #096e7e !important"
                (click)="addToCollection(searched)">
                ADD
              </button>
            </span>
          </div>
        </carousel> -->
      </div>
    </div>
  
  
    <div style="margin-left: 50%; margin-bottom: 10px;">
      <button mat-raised-button style="background-color:#1E90FF ; color: white;" (click)="saveSetCollection()">
        Save <mat-icon>save</mat-icon>
      </button>
  
    </div>
  
    <!--Div All Cards-->
    <div id="divAllCards">
  
      <!--Empty Collection-->
      <div *ngIf="userSetCollecton.cards == undefined " id="empty-set" class="row">
        <p>
          <i>This Collection is empty, choose some Cards and Add on it!!</i>
        </p>
      </div>
  
      <!--Div Single Card-->
      <div class="divSingleCard" *ngFor="let card of userSetCollecton.cards">
        <!-- [ngClass]="card.quantityOtherCollections > 0 ? 'shadow-gold' : 'shadow-blue'" -->
        <div class="div-price-rarity" [style.display]="isVisible ? 'flex' : 'none'">
          <!--Price div-->
          <div style="color: green; font-size: small; width: fit-content; display: inline-block;">
            <span> {{card.relDeckCards.card_price | currency : 'USD'}}</span>
          </div>
          <!--Rarity div-->
          <div class="div-rarity" [title]="card.relDeckCards.rarityDetails">
            <span [ngClass]="setRarityColor(card.relDeckCards.card_raridade)">
                <i>
                {{card.relDeckCards.card_raridade }} {{card.relDeckCards.setRarityCode}}           
              </i>
            </span>
          </div>
        </div>
  
        <!-- <mat-checkbox class="example-margin" [(ngModel)]="onlyCardsIhave" style="margin-left: -90%;"></mat-checkbox> -->
        <div style="margin-top: 3px;">
          <img 
               [src]='cardImagem(card.number)' alt="" width="129px" height="169px"
               [style.opacity]="card.quantityUserHave == 0 ? 0.5 : 1" 
               class="single-card-image"  
               matTooltip="Change Card Art"
               (click)="openDialogArt(card.cardId, card.angularId)"
               loading="lazy"
               >
        </div>
        <div class="singleCardName">
          <p class="card-name">
            <a [routerLink]="['/card-detail/', card.name]" name="{{card.number}}" (click)="storedCardId(card.number)" target="_blank">
              <span *ngIf="card.quantityOtherCollections > 0 && card.listSetCode[0] != 'Not Defined'" 
                title="Quantity of this Card-Set Code in your other Sets">(<span
                  style="color: orange;">{{card.quantityOtherCollections}}</span>)</span>
              {{card.name}}
            </a>
          </p>
        </div>
        <div [style.display]="isVisible ? 'block' : 'none'">
          <div class="number">
            <span class="minus" (click)="addOrRemoveCard(card, 'minus')">-</span>
            <input type="text" [value]="card.quantityUserHave" min="0" max="999" maxlength="3"
              (keypress)="keyPressQuantityCard($event)" disabled />
            <span class="plus" (click)="addOrRemoveCard(card, 'plus')">+</span>
          </div>
        </div>
        <div style="margin: 3px;" [style.display]="isVisible ? 'block' : 'none'">
          <select  style="background-color:ghostwhite !important; color: #04AA6D !important" #set
            [ngClass]="{'hasCard' : card.quantityUserHave > 0}" aria-label="Default select example"
            (click)="consultCardSetCode(card)" (change)="setRelInfo(card, set.value)">
            <option *ngFor="let setCode of card.listSetCode" selected [value]="setCode">{{setCode}}</option>
            <!-- <option [value]="vazio">Set Code...</option> -->
          </select>
        </div>
      </div>
    </div>
  </div>
  <ng-template #callAPIDialog>
      <h1 mat-dialog-title>Create a based Deck</h1>
    <div mat-dialog-content>You can create a Deck based on predefined decks of this collection.</div> <br>
    <div mat-dialog-content style="font-size: small !important">Cards will be added in the same quantity as registered in the based Deck, 
      if you added more cards, they will remain in this collection.</div> <br>
  
      <div class="dialog-body" style="display: flex; flex-direction: column; width: 80%;">
          <mat-form-field appearance="fill">
            <mat-label>Based Decks:</mat-label>
            <mat-select #basedDeck>
              <mat-option *ngFor="let deck of basedDecks" [value]="deck.deckId">
                {{deck.deckName}}
              </mat-option>
            </mat-select>
          </mat-form-field>   
      </div>
  
    <br>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="closeDialog()" style="color: red">Close</button>&nbsp;&nbsp;
      <button mat-raised-button style="background-color:#059862; color: white; margin-top: 5px;"
      (click)="createBasedDeck(basedDeck.value)">
      Confirm
    </button> 
    </div> 
    
  </ng-template>