

<!-- <div id="main-div" style="border: solid thin red;">
    <div class="signin-content">      
        <input type="checkbox" id="chk" aria-hidden="true">
            <div class="singup">
                <form [formGroup]="form" (ngSubmit)="onSubmit" *ngIf="isRegiter">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text"  placeholder="User name" required formControlName="username" >
                    <input type="email" placeholder="Email"  formControlName="email"  required>
                    <input type="password" placeholder="Password" formControlName="password" required>
                    <input type="password" placeholder="Confirm Password" formControlName="confirm" required>
                    <button (click)="register()">Register</button>    
                    <button (click)="return()" id="return">Return</button>              
                </form>

                <form [formGroup]="formChange" *ngIf="isChangePassword">
                    <label for="chk" aria-hidden="true">Change Password</label>
                    <input type="text" disabled [value]="user.userName">
                    <input type="password" placeholder="Password" formControlName="password" required>
                    <input type="password" placeholder="Confirm Password" formControlName="confirm" required>
                    <button (click)="changePassword()">Change</button>    
                    <button (click)="return()" id="return">Return</button>              
                </form>
            </div>
    </div>
</div> -->

<div class="login-container" style="height: fit-content !important;">
    <header class="login-header" >
        <div class="login-header-right">
            <mat-card class="login-header-right-card" style="height: 480px;">
                <mat-card-content class="login-header-right-card-content">
                    <!--FORM REGISTER-->
                    <form class="login-form" [formGroup]="form">
                        <input type="text"  placeholder="User name" required formControlName="username" >
                        <input type="email" placeholder="Email"  formControlName="email"  required>
                        <input type="password" placeholder="Password" formControlName="password" required>
                        <input type="password" placeholder="Confirm Password" formControlName="confirm" required>
                        <button (click)="register()" class="create-account">Register</button>                      
                    </form>
                    <a href="index" style="margin-top: 20px;">Return</a>
                    <!-- <button class="create-account" (click)="openRegister()">Create New Account</button> -->
                </mat-card-content>
                
            </mat-card>
        </div>
    </header>
</div>
<app-footer></app-footer>


