

.sidebar2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    overflow-y: scroll;
  } 
  
  
  #main-div {
      transition: margin-left .5s;
      padding: 16px;
      margin-top: 20px;
      border: solid thin silver; 
      background:ghostwhite;
      
    }
  
    .div-cards{
      display: inline-block;
      width: 190px;
      height: 310px;
      border:  1px solid #ceefff;
      box-shadow: 0 1px 4px 0 rgb(21 180 255 / 50%);
      background-color: white;
      padding: 5px 3px 5px 3px;
      margin-left: 2%;
      margin-top: 5px;
    }
  
    .manageBtn{
      height: 30px;
      width: 75px; 
      font-size: 12px; 
      color: white;
      background-color: #03A9F4;
      border: solid thin silver; 
      margin-left:30%;
      margin-top:10px; 
      border-radius: 5px; 
      font-weight: 400;
    }
    .divTooltip{
      position: absolute;
      margin: 0;
      z-index: 9999;
      display: block;
    }
  
    #empty-collection{
      margin-top: 10px;
      width:100%;
      height: 150px;
      border: solid thin silver;
      border-radius: 5px;
      padding: 15px;
    }
  
    #empty-collection h1{
      color: silver;
      font-weight: 600;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
  
  
    #table-contains{
      font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
      
      font-size: 14px;
      line-height: 21px;
      display: table;
      border-bottom : 2px solid  #6678B1;
  
  
    }
  
    #modal-card-name{
     
      font-family:" New Century Schoolbook", TeX Gyre Schola, 
      serif; 
      letter-spacing: 2px;
      font-size: 32px;
      font-weight: 600;
      color: #444;
      text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    }
  
    #table-contains-body tr:nth-child(odd) {
      background-color: #f7f7f7;
    }
  
  
  
  .search{
    width: 50%;
    position: relative;
    display: flex;
  }
  
  .searchTerm{
    width: 60%;
    border: 3px solid #00b4cc;
    border-radius: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
  }
  
  .searchTerm:focus{
    color: #00b4cc;
  }
  
  .searchButton{
    width: 40px;
    height: 36px;
    border: 1px solid #00bacc;
    background:  #00bacc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  #down-part {
   width: 100%; 
   margin-top: 6px; 
   height: 400px; 
   padding: 5px;
  }
  
  #top-part{
    height: 221px; 
    margin-top: 10px; 
    padding: 10px; 
    margin-bottom: 10px;
  }
  
  #modal-card-detail{
    display: inline; 
    margin-left: 2%; 
    height: 220px; 
    min-width: 568px; 
  }
  