@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
#mainDiv{
    transition: margin-left .5s;
    border: solid thin;
    max-width: 85%;
    margin: 1% 1% 4% auto;
    padding: 10px;
    border-radius: 5px;
    border-color: #BEBEBE;
    margin-left: 7%;
    min-width: 900px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cabecalhoDeck{
    width: 65%;
    min-width: 900px;
    height: fit-content;
    background-color: ghostwhite;
    border: solid thin silver ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#imagemCabecalho{
    border: 1px solid #ceefff;
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-left: 1%;
    padding: 6px;
    box-shadow: 0 2px 4px 0 rgba(21,180,255,0.5);
    width: 200px;
    height: fit-content;
    float: left;
  
}

#informacoes{
    width: 75%;
    background-color: ghostwhite;
    height: 300px;
    padding: 10px;
}

#set-description {
  flex-basis: 100%;
  margin-top: 10px;
}

  #set-description span {
      color: goldenrod; 
      font-weight: bold; 
      letter-spacing: 3px; 
      margin-left: 42%;
      font-family: Arial, Helvetica, sans-serif
  }


.nome-cabecalho {
  font-size: 1.3em;
  color: darkblue; 
  font-weight: 700;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;              /* "overflow" value must be different from "visible" */
  text-overflow:    ellipsis;
}

.raridade ul li {
  font-weight: 500;
  font-size: 14px;
  color: rgb(167, 164, 164);
  line-height: .8;
  border-top: solid thin #ccc !important;
}

.raridade ul li span {
  font-size: 13px;
}

.list-group-item{
  border-bottom: solid thin #ccc !important;
}

.raridade p {
    margin-bottom: 4px;
}

.p-descricao{
   width: 90%; 
   border: solid thin;
    margin-left: 5%;
     font-size: small;
     padding: 5px;
     border-radius: 10px;

}

/* Rounded tabs */

@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }
  
  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }
  #insdeDeckHeader{
    background-color: rgb(132 204 22); 
    padding-left: 1px;  
  }

  #insdeDeckHeader h3 {
    font-weight: 600;
    color: white;
  }

  #insdeDeckHeaderGeneral {
    background-color: #FFA500;
    color: white;  
    padding-left: 1px;
  }

  #insdeDeckHeader h6 {  
    color: white;
  }

 .insideHeader {
    width: 100%;  
    margin-bottom: 10px;
    margin-top: 10px;
    
 }



  .container-general{
    margin-top: 20px; display: flex;  justify-content: space-around; width: 100%; flex-wrap: wrap;
  }
  .linha-div-carddetails{ 
    border: solid thin;
    height:max-content;
    padding: 3px;
    min-width: 900px;
  }

  .ldv {
    background: rgb(2,0,36);
    background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(241,241,241,1) 0%, rgba(230,239,240,1) 25%, rgba(249,241,241,1) 72%, rgba(211,219,221,1) 100%, rgba(241,241,241,1) 100%);
       
  }

  #imgLinha{
    border: 1px solid #ceefff;
    margin-top:2px;
    margin-left:-13px;
    margin-right: 5%;
    background: #fff;
    padding: 6px;
    box-shadow: 0 1px 4px 0 rgba(21,180,255,0.5);
    width: 169px;
    height: 229px;

  }
  .row-infomacoes-card{
    margin-left: 3%;
     min-height: 233px;
     height: fit-content;
     margin-right: auto;
     width: 80%;
    padding: 0;
   }

  .nome-card{
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 20px;
    
  }

  .row {
      margin: 0;
  }


  #extraDeck{
    width:100%;
    border:solid thin;
    height: fit-content;
    padding: 3px;
  }

  .DeckHeader{
    background: rgb(0,191,255);
    background: linear-gradient(318deg, rgba(0,191,255,0) 3%, rgba(147,228,255,1) 21%, rgba(130,217,246,1) 39%, rgba(187,238,255,1) 96%);
     color: white;
     font-size: 1.5em;
     text-align: center;
     vertical-align: center;
     text-transform: uppercases;
     height: 35px; 
     margin-bottom: 20px;
  }

  .statistics-header{
    background: rgb(0,191,255);
    background: linear-gradient(318deg, rgba(255,255,255,1) 2%, rgba(247,163,151,1) 36%, rgba(247,156,143,1) 59%, rgba(246,145,130,1) 93%); color: white;
     font-size: 1.5em;
     text-align: center;
     vertical-align: center;
     text-transform: uppercases;
     height: 35px; 
     margin-bottom: 20px;
  }



  #deckCards{
    border: solid thin;  
    margin-top: 10px; 
    padding: 3px;
   align-content: center;
  }
  .divTooltip{
    position: absolute;
    margin: 0;
    z-index: 9999;
    display: block;
  }

  .card-details-header{
    background: rgb(15,117,178);
    background: linear-gradient(146deg, rgba(15,117,178,1) 59%, rgba(59,216,235,1) 78%, rgba(239,241,241,1) 97%, rgba(241,241,241,1) 100%);
    color: white;
     font-size: 1.5em;
     text-align: center;
     vertical-align: center;
     text-transform: uppercases;
     height: 35px; 
     margin-bottom: 20px;
  }

  .card-static{
    margin-bottom:1.875rem;
    border:none;
    border-radius:5px;
    box-shadow:0 10px 40px 0 rgba(62,57,107,.07),0 2px 9px 0 rgba(62,57,107,.06)
  }
  .card-static  .card-title{font-weight:500;letter-spacing:.05rem;font-size:1.12rem}

  .box-static{
    box-shadow:0 10px 40px 0 rgba(62,57,107,.07),0 2px 9px 0 rgba(62,57,107,.06);
    border-radius: 5px;
  }

  .header-static {
    width: 100%;
    font-family:  'Train One', 'Arial Narrow', 'Arial', 'sans-serif'
    ;font-size: 19px;
    color: white;
    line-height: 28px;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));text-align: center; letter-spacing: 5px;

  }


  #empty-set{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    background-color: ghostwhite; 
    height: 35px;
    font-size: 30px;
    padding: 10px;
    color: #BEBEBE;
    font-weight: 600;
    height: 80%;
    border: solid thin silver;
    border-radius: 10px;
    margin-top: 5px;
  }

  #rarity {
    width: 100%; 
    background-color: rgb(164, 154, 231); 
    height: fit-content;
  }

  #rarity ul {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-left: -5%;
  }

  #rarity ul li{
    font-weight: 400;
    font-size: 18px;
  }

  #allCards{
    width: 100%; 
    background-color: white;
    border: solid thin silver; 
    margin-top: 4px; 
    overflow-y: scroll;
     max-height: 200px;
      padding: 7px;
      text-align: justify;
  }
 
  #minimal-statistics{
    padding: 5px;
    background-color: ghostwhite;
    margin-bottom: 20px;
  
  }

  #estrelasPorMonstros{
    margin-top: 30px;
    background-color: white;  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .box-types{
      border: solid thin #007bff;
       background-color: ghostwhite; 
       padding: 5px;
  }

  .box-prop {
    margin-top: 20px; 
    border: solid thin red;
    background-color: ghostwhite;
    padding: 5px;
  }

  .box-desc{
    background: ghostwhite;
    margin: 2px;
  }

  .div-info-atk {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;
  }

  .div-atk-info{
    margin-top: 20px;
    border: 1px solid  silver;
    padding: 2px; 

  }

  .div-atk-info-inside{
    margin: 3px; 
    border: solid thin black; 
    text-align: left; 
    text-align: center;
    padding: 4px;
    
  }

#add-to-user-collection{
  width: 100%;
  margin-top: 10px;
  padding: 3px;
  border-radius: 3px;
  border: solid thin silver;
}

.row-card-info {
  padding: 3px; 
  border-bottom: solid thin #ccc; 
  height: 39px; 
  font-size: 14px; 
  margin-bottom: 1px;
  display: flex;
  justify-content: space-around;
}

.card-details-div{
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  height: 32px;
}

.card-details-div div {
  border: purple;
  margin-right: 1vw;
  display: flex;
}

.card-details-div div img {
  width: 30px;
  height: 30px;
}

.row-name-card{
  border-bottom: solid thin #ccc;
  height: 30px; 
  padding-top: 0.5vh;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.p-icon-details{
  display: inline-block; 
  margin-top: 5px;
  height: fit-content;
  margin-left: 6px;
 
}

.row-desc-pendulum{
  padding: 3px; 
  border-bottom: solid thin #ccc;
  height: fit-content;
  margin-bottom: -5px;
  display: flex;
}
.desc-pendulum-left{
  position: relative;
  border-right:solid thin #ccc;
  min-width: 85px;
  position: relative;

}

.desc-pendulum-right p{
  text-align: left; 
  font-family:'Nunito';
  font-size:12px; 
  margin-bottom: 4px;
  padding-left: 3px;
}

.escala-icons {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card-descr {
  font-size:14px; 
  margin-bottom: 1px;
  margin-top: 3px; 
}

