<div class="container" style="border: solid thin silver; background-color: ghostwhite;">
    <div id="separator">
        <div>Search Cards</div>
     </div> 

    <app-search-box (cardsFoundEvent)="setCardsFound($event)"></app-search-box>

    <div id="painel-cards">

        <div id="cards-header">
            Cards
        </div>
        <mat-spinner *ngIf="!loading"></mat-spinner>
        <span style="margin-left: 80%; font-family: 
            SegoeProBlack, Segoe UI,SegoeUI,Helvetica,Arial,sans-serif; 
            color: #054b16; font-weight: 900;" *ngIf="isRandomCards">
            Random cards</span>

        <span class="total-found" *ngIf="!isRandomCards">
            <span style="color:#63b175;"> {{totalFound}} </span>cards found!</span>

        <div id="cards-body" style="padding-left: 3%;">

            <div id="imgGeneral" *ngFor="let card of cardsFound"
                style="margin-left: 1%; margin-bottom: 1%; cursor: pointer; " class="imgCard">

                <a [routerLink]="['/card-detail/', card.nome]" name="{{card.numero}}" (click)="openCardDetail(card.numero)" target="_blank">
                    <img [src]='cardImagem(card.numero)' alt="" width="160px" height="219px" name="{{card.numero}}"
                        (mouseover)="mostrarImgToolTip(card.imagem, $event)"
                        (mousemove)="mostrarImgToolTip(card.imagem, $event)" (mouseout)="esconderImgToolTip()"
                        loading="lazy"
                        style="margin: -2px;">
                </a>
                <br>

                <span
                    style="font-size: small;
                    font-family: 'Roboto', 'Helvetica Neue', 'sans-serif'; font-weight: 600;color: rgb(163, 159, 159);">
                    <!-- Total you have:
                    <span style="color: red;" *ngIf="card.qtd == null">0</span>
                    <span style="color: navy;" *ngIf="card.qtd > 0">{{card.qtd}}</span> -->

                    <mat-icon style="color: navy; transform: scale(.8);float: right; " class="card-item-icon"
                        (mouseover)="mostrarDivCardsInfo($event, card.numero)"
                        (mouseout)="esconderImgToolTipDetailed()"> remove_red_eye </mat-icon>
                </span>
            </div>

            <!--Div que será mostrada quando o mouse passar sobre a carta -->
            <div class="divTooltip" [ngStyle]="{'top': topTp, 'left': leftTp }">
                <img [src]='imgTooltip' alt="" width="310px" height="420px" *ngIf="isShowTooltip" class="imgTooltip" loading="lazy">
            </div>

        </div>

        <!-- <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
            [infiniteScrollContainer]="selector" [fromRoot]="true" (scrolled)="onScroll()"></div> -->
    </div>
</div>



<!-- Mostrar div com informações do card-->
<div *ngIf="isShowTooltipDetailed == true" class="divTooltipDetailed">
    <app-card-info [cardImage]="cardImage" [card]="card"></app-card-info>
</div>